---
layout: default
---

<div class="row">
  <div class="medium-9 columns">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
          {% endif %}
        </p>

        <div class="post-content" itemprop="articleBody">
          <img src="/assets/images/{{ page.thumb }}" id="main-img">{{ content }}
        </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
  <div class="medium-3 columns ad">
    <a href="#"><img src="/assets/images/Banner.jpg"></a>
  </div>
</div>